@model List<RTA_Transit_Feedback.FeedBackForm>

@{
    ViewBag.Title = "FeedBackIndex";
}
<h2>Your Feedback</h2>
<div class="rolodex">
    <hr />
    @foreach (var item in Model)
    {

        <div class="cardindex">
            @*<img class="ridehappycard" src="~/images/RideHappy.jpg" />*@
            <p class="feedbackdescriptionc indexcard">
                @Url.Content(item.FeedbackDescription)
            </p>

        </div>
    }
</div>