@model RTA_Transit_Feedback.Batch

@{
    /**/

    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <h2 style="margin-bottom:60px;">Cards Included in Batch @Html.DisplayFor(Model => Model.BatchID)</h2>
    <div class="row">
        <h4 class="col-4">Date of Ride</h4>
        <h4 class="col-4">Rider Last Name</h4>
        <h4 class="col-4">Print Individual</h4>
    </div>
    <hr />
    @foreach (FeedBackForm a in Model.FeedBackForm)
    {
        <div class="row divswapstyle">
            <div class="col-4">@Url.Content(a.DateofRide.ToString())</div>
            <div class="col-4">@Url.Content(a.Customers.LastName)</div>
            <div class="col-4">
                <div class="btn-group">
                    <button>@Html.ActionLink("Print to PDF", "RideHappyOutput", "FeedBackForms", new { id = a.FeedbackID }, null)</button>
                </div>
            </div>
        </div>

    }
</div>


<script>
    var a = document.getElementsByClassName("divswapstyle").length;
    for (i = 0; i < a; i++) {
        if (i % 2 == 0) {
            document.getElementsByClassName("divswapstyle")[i].classList.add("indexfeedbackcolortwo");
        }
        else {
            document.getElementsByClassName("divswapstyle")[i].classList.add("indexfeedbackcolor");
        }
    }
</script>

<style>
    .indexfeedbackcolor {
        background-color: #eee9e9 !important;
        border-top: 2px solid grey !important;
    }

    .indexfeedbackcolortwo {
        background-color: #cdc9c9 !important;
        border-top: 2px solid grey !important;
    }
</style>


