.RideHappyCardText {
    margin-left: 30px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 100;
    line-height: 26px;
}

.formDisplay {
    height: 500px;
    max-width: 298px;
    display: grid;
    grid-template-rows: 70px 106px repeat(8, 26px);
    grid-template-columns: .1fr 1fr 1fr .1fr;
    margin: 0px;
}

.HomeCard {
    position: absolute;
    top: 200px;
    z-index: 2;
    left: 105px;
    box-shadow: 9px 9px 15px black;
}

.IndexForm {
}

.WholeCardContainer {
    margin: 5px;
    box-shadow: 3px 4px 12px 1px black;
}

.CreateForm {
    position: fixed;
    box-shadow: 5px 4px 5px 0px black;
    top: 13vh;
    right: 35vw;
}

.formDisplay img {
    height: 500px;
    grid-column: 1 / -1;
    grid-row: 1 /-1;
    z-index: -1;
    object-fit: cover;
    border: black;
    border-width: 1px;
    border-style: solid;
}

.FeedBackCardFirstName {
    grid-column: 2 /span 2;
    grid-row: 6 /span 1;
    margin-left: 40px;
}

.FeedBackCardLastName {
    grid-column: 3 /span 1;
    grid-row: 6 /span 1;
}

.FeedBackCardAddressOne {
    grid-column: 2 /span 2;
    grid-row: 7 /span 1;
    margin-left: 10PX;
    transform: scale(.7,1);
    font-weight: 400;
}

.FeedBackCardAddressTwo {
    grid-column: 3 /span 1;
    grid-row: 7 /span 1;
}

.FeedBackCardCity {
    grid-column: 2 /span 2;
    grid-row: 8 /span 1;
}

.FeedBackCardState {
    grid-column: 2 /span 2;
    grid-row: 9 /span 1;
    margin-left: 40px;
}

.FeedBackCardPhone {
    grid-column: 2 /span 1;
    grid-row: 10 /span 1;
}

.FeedBackCardZip {
    grid-column: 3 /span 1;
    grid-row: 9 /span 1;
    margin-left: 60px;
}

.FeedBackCardEmail {
    grid-column: 3/span 1;
    grid-row: 10/span1;
    margin-left: 10px;
    transform: scale(.7,1);
}

.FeedBackCardDescription {
    grid-column: 1 /span 3;
    grid-row: 2/span 1;
    margin-top: 7px;
    line-height: 26px;
    font-size: 13px;
}

.FeedBackCardRouteName {
    grid-row: 4 /span 1;
    grid-column: 2 /span 3;
    margin-left: 105px;
}

.FeedBackCardVehicle {
    grid-row: 5 /span 1;
    grid-column: 2/span 2;
    margin-left: 90px;
}

.FeedBackCardDate {
    grid-column: 2 /span 2;
    grid-row: 3 /span 2;
    margin-left: 64px;
}

.FeedBackCardTime {
    grid-column: 3/span 2;
    grid-row: 3 /span 1;
    margin-left: 81px;
}
