
.RideHappyCardText {
    margin-left: 30px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 100;
}

.formDisplay {
    height: 500px;
    max-width: 298px;
    display: grid;
    grid-template-rows: 70px 106px repeat(8, 26px);
    grid-template-columns: .1fr 1fr 1fr .1fr;
}
.CreateForm {
    position: fixed;
    box-shadow: 5px 5px black;
    top: 17vh;
    right: 2vw;
}

    .formDisplay img {
        height: 500px;
        grid-column: 1 / -1;
        grid-row: 1 /-1;
        z-index: -1;
        object-fit: cover;
    }

.FeedBackCardFirstName {
    grid-column: 2 /span 2;
    grid-row: 6 /span 1;
    margin-left:40px;
}

.FeedBackCardLastName {
    grid-column: 3 /span 1;
    grid-row: 6 /span 1;
}

.FeedBackCardAddressOne {
    grid-column: 2 /span 2;
    grid-row: 7 /span 1;
    margin-left: 10PX;
    transform: scale(.7,1);
}

.FeedBackCardAddressTwo {
    grid-column: 3 /span 1;
    grid-row: 7 /span 1;
}

.FeedBackCardCity {
    grid-column: 2 /span 2;
    grid-row: 8 /span 1;
}

.FeedBackCardState {
    grid-column: 2 /span 2;
    grid-row: 9 /span 1;
    margin-left:40px;
}

.FeedBackCardPhone {
    grid-column: 2 /span 1;
    grid-row: 10 /span 1;
}

.FeedBackCardZip {
    grid-column: 3 /span 1;
    grid-row: 9 /span 1;
    margin-left: 60px;
}

.FeedBackCardEmail {
    grid-column: 3/span 1;
    grid-row: 10/span1;
    margin-left: 10px;
    transform: scale(.7,1);
}
.FeedBackCardDescription{
    grid-column:2 /span 2;
    grid-row: 2/span 1;
    margin:0;
}
.FeedBackCardRouteName{
    grid-row:  4 /span 1;
    grid-column:2 /span 1;
    margin-left:105px;
}
.FeedBackCardVehicle {
    grid-row: 5 /span 1;
    grid-column: 2/span 1;
    margin-left:90px;
}
.FeedBackCardDate {
    grid-column: 2 /span 1;
    grid-row: 3 /span 2;
    margin-left: 70px;
}
.FeedBackCardTime{
    grid-column: 3/span 1;
    grid-row: 3 /span 1;
    margin-left:60px;
}