p {
    font-size: 17px;
}

.container {
    position: relative;
    color: black;
    font-weight: 400;
    width: 480px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    left: 275px;
    top: 25px;
}

.feedbackLn1 {
    position: absolute;
    top: 80px;
    left: 42px;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    width: 400px;
}

.dateOfRide {
    position: absolute;
    top: 248px;
    left: 135px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.timeOfRide {
    position: absolute;
    top: 248px;
    left: 335px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.routeNameNumber {
    position: absolute;
    top: 280px;
    left: 250px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.busRapidNumber {
    position: absolute;
    top: 320px;
    left: 250px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}

.riderFname {
    position: absolute;
    top: 360px;
    left: 90px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}

.riderAddressLn1 {
    position: absolute;
    top: 400px;
    left: 100px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}

.riderCity {
    position: absolute;
    top: 439px;
    left: 85px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}

.riderState {
    position: absolute;
    top: 480px;
    left: 85px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}

.riderZip {
    position: absolute;
    top: 480px;
    left: 285px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}

.riderPhone {
    position: absolute;
    top: 515px;
    left: 85px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.riderEmail {
    position: absolute;
    top: 515px;
    left: 300px;
    text-align: left;
    font-size: 9px;
    font-weight: 400;
    transform: scaleY(5);
}

.breakhere {
    display: block;
    clear: both;
    page-break-after: always;
}
