
.bodybg {
    background-color:white;
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1{
    color:black;
}

h2{
    color:black;
}

h3{
    color:black;
}

h4{
    color:black;
}

/*--------------------------------Navbar---------------------------*/
nav a {
    font-family: 'Roboto', sans-serif;
    color: black;
}
 .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: black;
}


/*--------------------------------home index---------------------------*/
.indexrowone{
    height:50vw;
    background-color:darkslateblue;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.text p{
    color:whitesmoke;
    font-size:5vw;
    margin-right:80vw;
    margin-bottom:50px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height:60px;
    margin-top:3vw;
}
.button:hover{
    box-shadow: inset 0px 0px 5px 5px white;
}
a:hover{
    text-decoration:none;
    color:inherit;
}
.indexrowtwo{
    height:30vw;
}
.indexrowthree{
    height:40vw;
}
.indexrowthreecolone{
    background-color:green;
}
.indexrowthreecoltwo{
    background-color:white;
}
.text{
    margin:50px;
}
/*------------------Customer create styleing-------------------*/


.lead{
    color:white;
}
/*------------------Feedback Index For Admins-------------------*/


#feedbackList {
   color:red
}
/*------------------Feedback Index For Customers-------------------*/
.rolodex{
    display:inline-flex;
    /*align-items:flex-end;*/
    flex-wrap:wrap;
    /*justify-content:flex-end;
    align-content:flex-start;*/
}
/*.feedbackdescriptionc{
    grid-column:2 /span 2;
    grid-row: 2/span 1;
    overflow-wrap:break-word;
    line-height:25px;
}*/
.cardindex {
    background-image: url('../images/RideHappy.jpg');
    height: 400px;
    min-width:250px;
    max-width:250px;
    display: grid;
    background-size:contain;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-template-rows: 2.5fr 3.5fr .8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
margin:.5vw;
}
.indexcard{
    overflow:hidden;
              }

/*----------------Account Login Page----------------*/
#acctloginbg {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

/*Modal Styling*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 2px;
}

.button2 {
    border-radius: 4px;
}

.button3 {
    border-radius: 8px;
}

.button4 {
    border-radius: 12px;
}

.button5 {
    border-radius: 50%;
}
