
.bodybg {
    background-color: whtie;
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*--------------------------------Navbar---------------------------*/
nav a {
    font-family: 'Roboto', sans-serif;
    color: black;
}
 .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: black;
}


/*--------------------------------home index---------------------------*/
.indexrowone {
    height: 700px;
    background-color: darkslateblue;
    background-image: url('../images/RTAAirport.jpg');
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat:no-repeat;
   background-size:cover;

}
.text {
    margin-right:600px;
    margin-bottom:100px
}
.text p {
    color: whitesmoke;
    font-size: 70px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 60px;
    box-shadow: 2px 2px 20px black;
    margin-top: 50px;
}
.button:hover{
    box-shadow: inset 0px 0px 5px 5px white;
}
a:hover{
    text-decoration:none;
    color:inherit;
}
.indexrowtwo {
    background-color: #4CAF50;
    height: 300px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 20px black;
}
    .indexrowtwo p {
        margin-left: 100px;
        margin-right: 100px;
        color: whitesmoke;
        text-shadow: -1px -1px 9px black;
        font-weight:700;
    }
.indexrowthree{
    height:400px;
}
.indexrowthreecolone{
}
.indexrowthreecoltwo{
}


/*------------------Customer create styleing-------------------*/


.lead{
    color:white;
}
/*------------------Feedback Index For Admins-------------------*/


#feedbackList {
   color:red
}
/*------------------Feedback Index For Customers-------------------*/
.rolodex {
    display: inline-flex;
    flex-wrap: wrap;
    z-index: -5;
}
.indexcard{
    overflow:hidden;
              }

/*Modal Styling*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 2px;
}

.button2 {
    border-radius: 4px;
}

.button3 {
    border-radius: 8px;
}

.button4 {
    border-radius: 12px;
}

.button5 {
    border-radius: 50%;
}
