@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col">
        <img src="~/images/RideHappy.jpg" />
    </div>
    <div class="col">
<p>The purpose of this website is to simplify the process of submitting feedback to the RTA. Currently the RTA only accepts feedback via snail mail whih </p>
    </div>
</div>