@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron indexjumbo">
    <div class="col-12">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>




<div class="row">
    <div class="col">
        <img src="~/images/RideHappy.jpg" />
    </div>
    <div class="col">
<p>The purpose of this website is to simplify the process of submitting feedback to the RTA. Currently the RTA only accepts feedback via snail mail whih </p>
    </div>
</div>