@{
    ViewBag.Title = "Home Page";
}
<div class="row indexrowone">
    <div class="hider">
        <div class="indexscrollone">
            Bus delay to start your day?<br />
            Train station frustration?<br />
            Stranded at your stop?<br />
            Dissatisfied with your ride?<br />
            <br />
        </div>
    </div>
    <style>
        .indexscrollone {
            margin-left: 500px;
            display: inline-block;
            color: white;
            position: relative;
            font-size: 60px;
            white-space: nowrap;
            top: 0;
            left: 0;
            animation: move 9s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
        }

        .hider {
            float: left;
            overflow: hidden;
            position: relative;
            height: 70px;
        }
    </style>
    <button id="btnShowModal" class="button">
        Start Here
    </button>


</div>

<div class="row indexrowtwo">
    <p>
        The Greater Cleveland Regional  Transit Authority’s “Ride Happy” program allows passengers who are dissatisfied with their ride to send feedback and receive a one-trip farecard, free of charge. Currently, RTA only accepts feedback via postcard sent via First Class Mail and requires Ride Happy cards to be completed within 10 days of the ride.
        This website reduces the barrier of providing timely, legible feedback by allowing RTA riders to submit feedback via an online form.
    </p>
</div>
<div class="row indexrowthree">
    <div class="col indexrowthreecolone"></div>
    <div class="col indexrowthreecoltwo"></div>

</div>
<style>
    .indexscrollone {
        margin-left: 500px;
        display: inline-block;
        color: white;
        position: relative;
        font-size: 60px;
        white-space: nowrap;
        top: 0;
        left: 0;
        animation: move 9s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    .hider {
        float: left;
        overflow: hidden;
        position: relative;
        height: 70px;
    }
</style>






<style>
    .indexscrolltwo {
        margin-top: -3px;
        display: inline-block;
        position: relative;
        font-size: 18px;
        font-weight: 800;
        white-space: nowrap;
        top: 0;
        left: 0;
        animation: movetwo 9s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        transform: scale(.7,1);
    }

    .hidertwo {
        float: left;
        overflow: hidden;
        position: relative;
        height: 25px;
    }

    .FeedBackCardDescription {
        float: left;
        overflow: hidden;
        position: relative;
        left: -26px;
    }

    .FeedBackCardVehicle {
        margin-top: 2px;
        margin-left: 48px;
    }

    .FeedBackCardRouteName {
        margin-left: 46px;
        margin-top: 2px;
    }

    .FeedBackCardDate {
        margin-left: 24px;
        margin-top: 2px;
    }

    .FeedBackCardTime {
        margin-left: 26px;
        margin-top: 2px;
    }

    .FeedBackCardFirstName {
        margin-left: 17px;
        margin-top: 2px;
    }

    .FeedBackCardLastName {
        margin-left: 0px;
        margin-top: 2px;
    }

    .FeedBackCardAddressOne {
        margin-left: 2px;
        margin-top: 2px;
        transform: scale(.8,1);
    }

    .FeedBackCardAddressTwo {
        margin-left: 10px;
        margin-top: 2px;
    }

    .FeedBackCardCity {
        margin-left: 10px;
        margin-top: 2px;
    }

    .FeedBackCardState {
        margin-left: 10px;
        margin-top: 3px;
    }

    .FeedBackCardEmail {
        margin-left: -3px;
        margin-top: 2px;
    }

    .FeedBackCardPhone {
        margin-left: 10px;
        margin-top: 1px;
    }

    .FeedBackCardZip {
        margin-left: 15px;
        margin-top: 3px;
    }
</style>
<div class="formDisplay HomeCard">
    <img src="~/images/RideHappy.jpg" />
    <div class="hidertwo FeedBackCardDescription ">
        <div class="FeedBackCardDescription RideHappyCardText indexscrolltwo">
            My train was delayed by 9 minutes. <br />
            No suspension on bus. <br />
            Air conditioning wasn't working. <br />
            Bike didn't fit on bus. <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardRouteName">
        <div class="FeedBackCardRouteName RideHappyCardText indexscrolltwo">
            Red Line <br />
            64 <br />
            51B <br />
            HealthLine <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardVehicle">
        <div class="FeedBackCardVehicle RideHappyCardText indexscrolltwo">
            2301<br />
            4201 <br />
            2021<br />
            42 <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardDate">
        <div class="FeedBackCardDate RideHappyCardText indexscrolltwo">
            5 Aug 2018<br />
            4 Jul 2018<br />
            8 Aug 2018<br />
            4 May 2018<br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardTime">
        <div class="FeedBackCardTime RideHappyCardText indexscrolltwo">
            7:30 AM<br />
            6:40 PM<br />
            12:20 PM<br />
            10:21 AM<br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardFirstName">
        <div class="FeedBackCardFirstName RideHappyCardText indexscrolltwo">
            Tina Hanscom<br />
            Mike Samith<br />
            Lisa Murano<br />
            Rick Steves<br />
        </div>
    </div>
    @*<div class="hidertwo FeedBackCardLastName">
        <div class="FeedBackCardLastName RideHappyCardText indexscrolltwo">
            Jones <br />
            Doe <br />
            Ipsum <br />
            Steve <br />
        </div>
    </div>*@
    <div class="hidertwo FeedBackCardAddressOne">
        <div class="FeedBackCardAddressOne RideHappyCardText indexscrolltwo">
            56 South Locker Ln<br />
            451 3rd Ave<br />
            9085 Hanover St <br />
            121 Shore Ave<br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardAddressTwo">
        <div class="FeedBackCardAddressTwo RideHappyCardText indexscrolltwo">
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardCity">
        <div class="FeedBackCardCity RideHappyCardText indexscrolltwo">
            Bikini Bottom <br />
            Fargo <br />
            Cleveland <br />
            Aspen<br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardPhone">
        <div class="FeedBackCardPhone RideHappyCardPhone indexscrolltwo">
            444-444-1234<br />
            212-342-2122 <br />
            440-123-4567 <br />
            555-555-5555 <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardState">
        <div class="FeedBackCardState RideHappyCardPhone indexscrolltwo">
            California<br />
            North Dakota <br />
            Ohio <br />
            Ohio <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardZip">
        <div class="FeedBackCardZip RideHappyCardPhone indexscrolltwo">
            90123 <br />
            44131 <br />
            44212 <br />
            44145 <br />
        </div>
    </div>
    <div class="hidertwo FeedBackCardEmail">
        <div class="FeedBackCardEmail RideHappyCardPhone indexscrolltwo">
            flygal@ships.com<br />
            tract@yahoo.com <br />
            Dolaret@aol.com <br />
            franom@gmail.com<br />
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
</script>


<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <h2>Do you have an account?</h2>
                </form>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Login","Account")" class="button">Yes</a>
                <a href="@Url.Action("Create","FeedbackForms")" class="button">No</a>
            </div>
        </div>
    </div>
</div>