@{
    ViewBag.Title = "Home Page";
}
<div class="row indexrowone">
    <div class="text">
        <p>
            <span class="word wisteria">Ride   Happy's  Helping   Hand.</span>
            <span class="word belize">Easing   Your   Furture   Expeditions.</span>
            <span class="word pomegranate">Facilitating   Your   Feedback.</span>
            <span class="word green">Compling   Your   Comments.</span>
            <span class="word midnight">Easing Your Furture Expeditions.</span>
        </p>
    </div>
    <a href="@Url.Action("Create","FeedbackForms")" class="button">Start Here</a>
</div>

<div class="row indexrowtwo">

    <p>Ne usu altera lucilius, eum dicta summo sonet eu. Ipsum choro consetetur vix ad, at rebum eleifend vis, vim impetus facilisis moderatius no. Mea id tantas hendrerit gloriatur, cum ut invidunt necessitatibus. Sea te aeterno aliquam expetendis.</p>
   
</div>
<div class="row indexrowthree">
    <div class="col indexrowthreecolone">
        <p>Et est facer utinam. Stet oblique at vim, quando homero voluptua cum ut. Duo menandri quaerendum neglegentur te, ex eum illum iudico luptatum, debitis scaevola ut vis. Ad accumsan epicurei pri. Cu cum vidit essent equidem, qui ut vivendum delicatissimi, at fuisset laboramus sit. Et alii graece eloquentiam vim.</p>
    </div>
    <div class="col indexrowthreecoltwo">
        <p>Est convallis habitasse sociis metus conubia ullamcorper non pulvinar scelerisque adipiscing maecenas vestibulum habitasse a scelerisque gravida vestibulum a sem condimentum vulputate a elementum curabitur adipiscing viverra platea a scelerisque. Conubia per proin ullamcorper vestibulum natoque a vulputate a aenean a a a platea eu penatibus fames orci aliquam turpis nostra condimentum ligula elit arcu praesent ultricies massa. Venenatis dui habitant tristique parturient a hac consectetur et ut ipsum rutrum non metus imperdiet a in scelerisque volutpat bibendum sit sociis mi aliquet justo nisl. Placerat ad posuere a parturient interdum laoreet mi cras vitae per enim duis netus sodales dignissim cum. Senectus condimentum proin suscipit a inceptos quis ac tempus et adipiscing sagittis condimentum sem parturient ultricies ullamcorper. Lacus consectetur accumsan facilisis facilisis ac libero mauris tincidunt ullamcorper est at penatibus vestibulum consectetur nascetur adipiscing dis a parturient ante vestibulum mi suspendisse nunc a.Facilisi dapibus nullam suspendisse adipiscing a et praesent a risus a ante curabitur convallis scelerisque facilisi ultricies elit vehicula urna scelerisque tellus a id class.Ante proin morbi adipiscing nisi pretium ullamcorper elementum in a sociis scelerisque arcu ut consectetur vulputate curae dui fusce scelerisque adipiscing eget conubia parturient platea rhoncus fermentum.Non lorem curabitur condimentum quisque condimentum massa in sodales dis a nec a sem a cursus nunc nec.A facilisis posuere eu vel vestibulum parturient adipiscing sapien consectetur eu. </p>
        </div>
    </div>
    <div class="row indexrowfour">
        <div class="col indexrowfourcolone">
           
        </div>
        <div class="col indexrowfourcoltwo">
            <p>Venenatis dui habitant tristique parturient a hac consectetur et ut ipsum rutrum non metus imperdiet a in scelerisque volutpat bibendum sit sociis mi aliquet justo nisl. Placerat ad posuere a parturient interdum laoreet mi cras vitae per enim duis netus sodales dignissim cum. Senectus condimentum proin suscipit a inceptos quis ac tempus et adipiscing sagittis condimentum sem parturient ultricies ullamcorper. </p>
        </div>
        <div class="col indexrowfourcolthree">

        </div>
    </div>



    <script>
        var words = document.getElementsByClassName('word');
        var wordArray = [];
        var currentWord = 0;

        words[currentWord].style.opacity = 1;
        for (var i = 0; i < words.length; i++) {
            splitLetters(words[i]);
        }

        function changeWord() {
            var cw = wordArray[currentWord];
            var nw = currentWord == words.length - 1 ? wordArray[0] : wordArray[currentWord + 1];
            for (var i = 0; i < cw.length; i++) {
                animateLetterOut(cw, i);
            }

            for (var i = 0; i < nw.length; i++) {
                nw[i].className = 'letter behind';
                nw[0].parentElement.style.opacity = 1;
                animateLetterIn(nw, i);
            }

            currentWord = (currentWord == wordArray.length - 1) ? 0 : currentWord + 1;
        }

        function animateLetterOut(cw, i) {
            setTimeout(function () {
                cw[i].className = 'letter out';
            }, i * 80);
        }

        function animateLetterIn(nw, i) {
            setTimeout(function () {
                nw[i].className = 'letter in';
            }, 340 + (i * 80));
        }

        function splitLetters(word) {
            var content = word.innerHTML;
            word.innerHTML = '';
            var letters = [];
            for (var i = 0; i < content.length; i++) {
                var letter = document.createElement('span');
                letter.className = 'letter';
                letter.innerHTML = content.charAt(i);
                word.appendChild(letter);
                letters.push(letter);
            }

            wordArray.push(letters);
        }

        changeWord();
        setInterval(changeWord, 4000);


    </script>
    <style>

        .word {
            position: absolute;
            opacity: 0;
        }

        .letter {
            display: inline-block;
            position: relative;
            float: left;
            transform: translateZ(25px);
            transform-origin: 50% 50% 25px;
        }

            .letter.out {
                transform: rotateX(90deg);
                transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            .letter.behind {
                transform: rotateX(-90deg);
            }

            .letter.in {
                transform: rotateX(0deg);
                transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
    </style>
